*{
	margin: 0;
	padding: 0;
}

.content{
	width: 100%;
	height: 1340upx;
}

.title_wapper{
	width: 100%;
	height: 200upx;
	/* background-color: #4CD964; */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	font-size: 60upx;
}

.middle_wapper image{
	width: 260upx;
	height: 260upx;
	margin-top: 10upx;
	margin-bottom: 30upx;
}

.middle_wapper{
	/* background-color: #4CD964; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80upx;
}

.single_box{
	height: 100upx;
	width: 600upx;
	border: 3px solid #DD524D;
	margin-top: 30upx;
	border-radius: 20upx;
	box-shadow: 1px 2px 5px rgba(248, 248, 248, 102);
}

.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400upx;
	height: 80upx;
	margin: 10upx auto;
	font-size: $font-lg;
	color: #FFFFFF;
	background-color: #dd524d;
	border-radius: 50upx;
	box-shadow: 1px 2px 5px rgba(248, 248, 248, 102);
}

.btn2{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 240upx;
	height: 76upx;
	margin: 4upx;
	margin-top: 26upx;
	font-size: 34upx;
	color: #FFFFFF;
	background-color: #DD524D;
	box-shadow: 1px 2px 5px rgba(248, 248, 248, 102);
}

.pop_wapper{
	width:600upx;
	height: 644upx;
	background-color: #fff;
	position: absolute; left: 0; top: 0; right: 0; bottom: 0;
	margin: auto;   /* 有了这个就自动居中了 */
	box-shadow: 2px 2px 4px #F0F0F0;
}

.pop_top{
	font-size: 50upx;
	font-weight: 500;
	padding-top: 44upx;
	margin-left: 34%;
	margin-bottom: 80upx;
	color: #3A3A3A;
}

input{
	width:400upx;
	height: 80upx;
	padding-left:90upx; /* 输入框内容的左内距 */
	border: #3A3A3A 3upx solid;
	border-radius:10px;
	font-size: 34upx;
	color:  #606266;
	margin-top: 30upx;
	margin-left: 8%;
}